* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1rem;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: #ff7a7a;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.main {
  padding: 97px 0 67px 0;
  width: 87.2%;
  max-width: 425px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 70px;
}

@media (min-width: 768px) {
  .main {
    padding: 75px 0;
    gap: 0;
    width: 87.2%;
    max-width: 1111px;
    -ms-grid-columns: 52% 48%;
        grid-template-columns: 52% 48%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info {
  color: white;
  text-align: center;
}

.info__title {
  font-size: 1.6rem;
  margin: 0 0 1.875rem;
}

@media (min-width: 1024px) {
  .info__title {
    font-size: 3rem;
  }
}

.info__text {
  margin: 0;
}

@media (min-width: 768px) {
  .info {
    text-align: left;
    padding-right: 70px;
  }
}

.card {
  background-color: #6055a5;
  border-radius: 10px;
  color: white;
  height: 90px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .card {
    height: 60px;
  }
}

.card__text {
  max-width: 200px;
  margin: auto;
  font-weight: 600;
}

@media (min-width: 768px) {
  .card__text {
    max-width: 100%;
  }
}

.card__span {
  font-weight: 400;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .form {
    padding: 41px;
  }
}

.form__text {
  color: #b9b6d3;
  text-align: center;
  font-size: 0.6875rem;
  margin: 0;
  padding: 15px 25px;
}

.form__span {
  color: #ff7a7a;
  font-weight: 600;
}

.form__error-text {
  color: #ff7a7a;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  display: none;
}

.form__group {
  position: relative;
}

.form__error-icon {
  display: none;
  position: absolute;
  right: 15px;
  top: 35px;
}

.form__group.error .form__error-text,
.form__group.error .form__error-icon {
  display: block;
}

.input {
  width: 100%;
  padding-left: 20px;
  height: 55px;
  border: 1px solid #b9b6d3;
  border-radius: 5px;
  margin-top: 20px;
}

.input::-webkit-input-placeholder {
  color: #3e3c49;
  font-weight: 700;
}

.input:-ms-input-placeholder {
  color: #3e3c49;
  font-weight: 700;
}

.input::-ms-input-placeholder {
  color: #3e3c49;
  font-weight: 700;
}

.input::placeholder {
  color: #3e3c49;
  font-weight: 700;
}

.input:focus {
  border-color: #3e3c49;
}

.form__group.error .input {
  border: 1px solid #ff7a7a;
}

.btn {
  background-color: #38cc8c;
  color: white;
  width: 100%;
  border: none;
  height: 55px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 1px #32b87e;
          box-shadow: 0px 6px 1px #32b87e;
  margin-top: 20px;
}

.btn:hover {
  background-color: #65e7ae;
}
/*# sourceMappingURL=app.css.map */